<a href="https://colab.research.google.com/github/thaifurforo/alura-data-science/blob/main/Pandas-Tratando-Analisando-Dados/Extras/Contadores.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
s = pd.Series(list('asdadeadesdasesda'))
s

0     a
1     s
2     d
3     a
4     d
5     e
6     a
7     d
8     e
9     s
10    d
11    a
12    s
13    e
14    s
15    d
16    a
dtype: object

In [ ]:
s.unique()

array(['a', 's', 'd', 'e'], dtype=object)

In [ ]:
s.value_counts()

a    5
d    5
s    4
e    3
dtype: int64

In [ ]:
dados = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Alura/Pandas/extras/dados/aluguel.csv', sep=';')

In [ ]:
dados.head(10)

          Tipo                   Bairro  Quartos  ...   IPTU  Valor m2  Tipo Agregado
0  Apartamento                   Centro        1  ...   20.0     53.33    Apartamento
1  Apartamento             Higienópolis        1  ...    0.0     16.67    Apartamento
2  Apartamento                 Cachambi        2  ...   17.0     26.00    Apartamento
3  Apartamento                   Grajaú        2  ...   74.0     21.43    Apartamento
4  Apartamento      Lins de Vasconcelos        3  ...   14.0     16.67    Apartamento
5  Apartamento               Copacabana        1  ...   50.0     50.00    Apartamento
6  Apartamento  Freguesia (Jacarepaguá)        3  ...   28.0     17.59    Apartamento
7  Apartamento          Barra da Tijuca        2  ...  147.0     25.37    Apartamento
8  Apartamento                   Tijuca        2  ...  138.0     17.27    Apartamento
9  Apartamento                   Olaria        3  ...    0.0     14.71    Apartamento

[10 rows x 11 columns]

In [ ]:
dados.Tipo.unique()

array(['Apartamento', 'Casa', 'Casa de Condomínio', 'Casa de Vila',
       'Quitinete'], dtype=object)

In [ ]:
dados.Tipo.value_counts()

Apartamento           16923
Casa de Condomínio      964
Casa                    898
Quitinete               813
Casa de Vila            233
Name: Tipo, dtype: int64