<a href="https://colab.research.google.com/github/thaifurforo/alura-data-science/blob/main/Pandas-Tratando-Analisando-Dados/Extras/Criando_faixas_de_valor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
dados = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Alura/Pandas/extras/dados/aluguel.csv', sep=';')
dados.head(10)

          Tipo                   Bairro  Quartos  ...   IPTU  Valor m2  Tipo Agregado
0  Apartamento                   Centro        1  ...   20.0     53.33    Apartamento
1  Apartamento             Higienópolis        1  ...    0.0     16.67    Apartamento
2  Apartamento                 Cachambi        2  ...   17.0     26.00    Apartamento
3  Apartamento                   Grajaú        2  ...   74.0     21.43    Apartamento
4  Apartamento      Lins de Vasconcelos        3  ...   14.0     16.67    Apartamento
5  Apartamento               Copacabana        1  ...   50.0     50.00    Apartamento
6  Apartamento  Freguesia (Jacarepaguá)        3  ...   28.0     17.59    Apartamento
7  Apartamento          Barra da Tijuca        2  ...  147.0     25.37    Apartamento
8  Apartamento                   Tijuca        2  ...  138.0     17.27    Apartamento
9  Apartamento                   Olaria        3  ...    0.0     14.71    Apartamento

[10 rows x 11 columns]

In [ ]:
# contar quantidade de imóveis com:
# 0 quartos
print(dados.value_counts(dados['Quartos'] == 0)[1])
# 1 ou 2 quartos
print(dados.value_counts((dados['Quartos'] == 1) | (dados['Quartos'] == 2))[1])
# 3 ou 4 quartos
print(dados.value_counts((dados['Quartos'] == 3) | (dados['Quartos'] == 4))[1])
# 5 ou 6 quartos
print(dados.value_counts((dados['Quartos'] == 5) | (dados['Quartos'] == 6))[1])
# 7 quartos ou mais
print(dados.value_counts(dados['Quartos'] >= 7)[1])

157
11074
8094
470
36

In [ ]:
classes = [0, 2, 4, 6, 100]

In [ ]:
quartos = pd.cut(dados['Quartos'], classes)

In [ ]:
pd.value_counts(quartos)

(0, 2]      11074
(2, 4]       8094
(4, 6]        470
(6, 100]       36
Name: Quartos, dtype: int64

In [ ]:
labels = ['0 a 2 quartos', '3 e 4 quartos', '5 e 6 quartos', '7 quartos ou mais']
quartos = pd.cut(dados['Quartos'], classes, labels=labels, include_lowest=True)

In [ ]:
pd.value_counts(quartos)

0 a 2 quartos        11231
3 e 4 quartos         8094
5 e 6 quartos          470
7 quartos ou mais       36
Name: Quartos, dtype: int64