<a href="https://colab.research.google.com/github/thaifurforo/alura-data-science/blob/main/Pandas-Tratando-Analisando-Dados/Extras/Formas_de_Sele%C3%A7%C3%A3o.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
data = [(1, 2, 3, 4),
        (5, 6, 7, 8),
        (8, 10, 11, 12),
        (13, 14, 15, 16)]
df = pd.DataFrame(data, 'l1 l2 l3 l4'.split(), 'c1 c2 c3 c4'.split())

In [ ]:
df

    c1  c2  c3  c4
l1   1   2   3   4
l2   5   6   7   8
l3   8  10  11  12
l4  13  14  15  16

# Seleção de Colunas

## Pelo número da coluna

### Usando o método .iloc[]

In [ ]:
df.iloc[:, 0:1]
#df.iloc[rows, columns]

    c1
l1   1
l2   5
l3   8
l4  13

## Pelo nome da coluna

### Seleção Simples

In [ ]:
df['c1']

l1     1
l2     5
l3     8
l4    13
Name: c1, dtype: int64

In [ ]:
type(df['c1'])
# Quando usa apenas um par de colchetes, retorna uma series

pandas.core.series.Series

In [ ]:
df[['c1']]

    c1
l1   1
l2   5
l3   8
l4  13

In [ ]:
type(df[['c1']])
#uando usa dois pares de colchetes, retorna um DataFrame

pandas.core.frame.DataFrame

In [ ]:
df[['c3', 'c1']]

    c3  c1
l1   3   1
l2   7   5
l3  11   8
l4  15  13

### Usando o método .loc[]

In [ ]:
df.loc[:, 'c3']

l1     3
l2     7
l3    11
l4    15
Name: c3, dtype: int64

In [ ]:
type(df.loc[:, 'c3'])

pandas.core.series.Series

In [ ]:
df.loc[:, ['c3']]

    c3
l1   3
l2   7
l3  11
l4  15

In [ ]:
type(df.loc[:, ['c3']])

pandas.core.frame.DataFrame

# Seleção de linhas

## Pelo número da linha

### Seleção Simples

In [ ]:
df[0:1]

    c1  c2  c3  c4
l1   1   2   3   4

In [ ]:
df[1:]

    c1  c2  c3  c4
l2   5   6   7   8
l3   8  10  11  12
l4  13  14  15  16

In [ ]:
df[:2]

    c1  c2  c3  c4
l1   1   2   3   4
l2   5   6   7   8

### Usando o método .iloc[]

In [ ]:
df.iloc[1:2, :]
#df.iloc[rows, columns]

    c1  c2  c3  c4
l2   5   6   7   8

## Pelo index da linha

### Usando o método .loc[]

In [ ]:
df.loc['l2']

c1    5
c2    6
c3    7
c4    8
Name: l2, dtype: int64

In [ ]:
type(df.loc['l2'])

pandas.core.series.Series

In [ ]:
df.loc['l2':'l3']

    c1  c2  c3  c4
l2   5   6   7   8
l3   8  10  11  12

In [ ]:
type(df.loc['l2':'l3'])

pandas.core.frame.DataFrame

In [ ]:
df.loc[['l2']]

    c1  c2  c3  c4
l2   5   6   7   8

In [ ]:
type(df.loc[['l2']])

pandas.core.frame.DataFrame

In [ ]:
df.loc[['l1', 'l2']]

    c1  c2  c3  c4
l1   1   2   3   4
l2   5   6   7   8

# Seleção de linhas e colunas

## Método loc - usando os nomes e index

### Colchete simples

Resulta em um valor do mesmo tipo que o conteúdo do cruzamento entre a linha e a coluna

In [ ]:
df.loc['l1', 'c2']

2

In [ ]:
type(df.loc['l1', 'c2'])

numpy.int64

### Colchete duplo

Sempre resulta em um DataFrame

In [ ]:
df.loc[['l1'], ['c1']]

    c1
l1   1

In [ ]:
type(df.loc[['l1'], ['c1']])

pandas.core.frame.DataFrame

In [ ]:
df.loc[['l1', 'l2'], ['c2', 'c3']]

    c2  c3
l1   2   3
l2   6   7

### União colchete simples e duplo

Se o valor no colchete simples for um valor único, resulta em Series

In [ ]:
df.loc['l3',['c3', 'c1']]

c3    11
c1     8
Name: l3, dtype: int64

In [ ]:
type(df.loc['l3',['c3', 'c1']])

pandas.core.series.Series

In [ ]:
df.loc[['l3', 'l2'], 'c2']

l3    10
l2     6
Name: c2, dtype: int64

In [ ]:
type(df.loc[['l3', 'l2'], 'c2'])

pandas.core.series.Series

Se o valor no colchete simples for um range, resulta em DataFrame

In [ ]:
df.loc['l1':'l2', ['c1']]

    c1
l1   1
l2   5

In [ ]:
type(df.loc['l1':'l2', ['c1']])

pandas.core.frame.DataFrame

In [ ]:
df.loc[['l3'], 'c1':'c3']

    c1  c2  c3
l3   8  10  11

## Método iloc - usando números das linhas e colunas

### Colchete simples

Resulta em um valor do mesmo tipo que o conteúdo do cruzamento entre a linha e a coluna

In [ ]:
df.iloc[0, 1]

2

In [ ]:
type(df.iloc[0, 1])

numpy.int64

### Colchete duplo

Sempre resulta em um DataFrame

In [ ]:
df.iloc[[0], [0]]

    c1
l1   1

In [ ]:
type(df.iloc[[0], [0]])

pandas.core.frame.DataFrame

In [ ]:
df.iloc[[0, 1], [2, 0]]

    c3  c1
l1   3   1
l2   7   5

### União colchete simples e duplo

Se o valor no colchete simples for um valor único, resulta em Series

In [ ]:
df.iloc[2,[2, 0]]

c3    11
c1     8
Name: l3, dtype: int64

In [ ]:
type(df.iloc[2,[2, 0]])

pandas.core.series.Series

In [ ]:
df.iloc[[2, 1], 1]

l3    10
l2     6
Name: c2, dtype: int64

In [ ]:
type(df.iloc[[2, 1], 1])

pandas.core.series.Series

Se o valor no colchete simples for um range, resulta em DataFrame

In [ ]:
df.iloc[0:2, [2, 1]]

    c3  c2
l1   3   2
l2   7   6

In [ ]:
type(df.iloc[0:1, [2, 1]])

pandas.core.frame.DataFrame

In [ ]:
df.iloc[[3], 1:3]

    c2  c3
l4  14  15

In [ ]:
df[['c1', 'c2']][df['c1']>6]

    c1  c2
l3   8  10
l4  13  14