<a href="https://colab.research.google.com/github/thaifurforo/alura-data-science/blob/main/Pandas-Tratando-Analisando-Dados/Extras/M%C3%A9todos_de_interpola%C3%A7%C3%A3o.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
data = [0.5, None, None, 0.52, 0.54, None, None, 0.59, 0.6, None, 0.7]
s = pd.Series(data)
s

0     0.50
1      NaN
2      NaN
3     0.52
4     0.54
5      NaN
6      NaN
7     0.59
8     0.60
9      NaN
10    0.70
dtype: float64

In [ ]:
s.fillna(0)

0     0.50
1     0.00
2     0.00
3     0.52
4     0.54
5     0.00
6     0.00
7     0.59
8     0.60
9     0.00
10    0.70
dtype: float64

In [ ]:
# Preenche os valores nulos com o último valor válido (acima)
s.fillna(method= 'ffill')

0     0.50
1     0.50
2     0.50
3     0.52
4     0.54
5     0.54
6     0.54
7     0.59
8     0.60
9     0.60
10    0.70
dtype: float64

In [ ]:
# Preenche os valores nulos com o próximo valor válido (abaixo)
s.fillna(method= 'bfill')

0     0.50
1     0.52
2     0.52
3     0.52
4     0.54
5     0.59
6     0.59
7     0.59
8     0.60
9     0.70
10    0.70
dtype: float64

In [ ]:
# Preencher os valores nulos com a média dos valores válidos
s.fillna(s.mean())

0     0.500
1     0.575
2     0.575
3     0.520
4     0.540
5     0.575
6     0.575
7     0.590
8     0.600
9     0.575
10    0.700
dtype: float64

In [ ]:
# Limitar o número de vezes que o método escolhido é aplicado.
s.fillna(method = 'ffill', limit = 1)
# Eram 5 valores nulos, sobram 2, pois o ffill foi aplicado apenas nos números
# nulos que não eram seguidos abaixo por outro número nulo

0     0.50
1     0.50
2      NaN
3     0.52
4     0.54
5     0.54
6      NaN
7     0.59
8     0.60
9     0.60
10    0.70
dtype: float64

In [ ]:
# Limitar o número de vezes que o método escolhido é aplicado.
s.fillna(method = 'bfill', limit = 1)
# Eram 5 valores nulos, sobram 2, pois o bfill foi aplicado apenas nos números
# nulos que não eram seguidos acima por outro número nulo

0     0.50
1      NaN
2     0.52
3     0.52
4     0.54
5      NaN
6     0.59
7     0.59
8     0.60
9     0.70
10    0.70
dtype: float64

In [ ]:
s.fillna(0, limit = 3)
#Nesse caso irá preencher os 3 primeiros números nulos com 0

0     0.50
1     0.00
2     0.00
3     0.52
4     0.54
5     0.00
6      NaN
7     0.59
8     0.60
9      NaN
10    0.70
dtype: float64

In [ ]:
s.fillna(method = 'ffill', limit = 1).fillna(method = 'bfill', limit = 1)

0     0.50
1     0.50
2     0.52
3     0.52
4     0.54
5     0.54
6     0.59
7     0.59
8     0.60
9     0.60
10    0.70
dtype: float64