<a href="https://colab.research.google.com/github/thaifurforo/alura-data-science/blob/main/Pandas-Tratando-Analisando-Dados/Extras/Organizando_DataFrames_(Sort).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
data = [[1, 2, 3], [7, 8, 9], [4, 5, 6]]
data

[[1, 2, 3], [7, 8, 9], [4, 5, 6]]

In [ ]:
index = list('321')
index

['3', '2', '1']

In [ ]:
df = pd.DataFrame(data, index, list('ZYX'))

In [ ]:
df

   Z  Y  X
3  1  2  3
2  7  8  9
1  4  5  6

In [ ]:
df.sort_index(inplace=True)
df

   Z  Y  X
1  4  5  6
2  7  8  9
3  1  2  3

In [ ]:
df.sort_index(axis=1, inplace=True)
df

   X  Y  Z
1  6  5  4
2  9  8  7
3  3  2  1

In [ ]:
df.sort_values('X', inplace=True)
df

   X  Y  Z
3  3  2  1
1  6  5  4
2  9  8  7

In [ ]:
df.sort_values('3', inplace=True, axis=1)
df

   Z  Y  X
3  1  2  3
1  4  5  6
2  7  8  9

In [ ]:
df.sort_index(inplace=True)
df

   X  Y  Z
1  6  5  4
2  9  8  7
3  3  2  1

In [ ]:
df.sort_values(['Y', 'X', 'Z'], inplace=True)
df

   X  Y  Z
3  3  2  1
1  6  5  4
2  9  8  7